body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #6471a9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-container {
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #707171;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.try-another-way {
    margin-top: 10px;
    font-size: 14px;
}

.try-another-way a {
    color: #007BFF;
    text-decoration: none;
}

.try-another-way a:hover {
    text-decoration: underline;
}
p {
    color: #060606;
    font-size: 18px;
}
.try-another-way {
    text-align: left;
}